# Wazuh / Docker sensitive files
*.key
*.pem
*.crt
*.cer
*.p12
*.pfx
client.keys
wazuh-passwords.yml
docker-compose.override.yml

# Logs
*.log
alerts.json
archives.json

# OS / editor files
Thumbs.db
.DS_Store
.vscode/

# Temporary files
*.tmp
*.temp
